[Desktop Entry]
Type=Application
Name=quackchat
GenericName=Chat
Comment=An XMPP chat client
Exec=quackchat
Icon=io.github.pounceandmiss.Quack
Terminal=false
Categories=Network;InstantMessaging;Qt;
StartupWMClass=io.github.pounceandmiss.Quack
